<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_preview"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_preview"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitCost"
        tools:targetApi="31">
        <activity
            android:name=".settings.Password"
            android:exported="false" />
        <activity
            android:name=".settings.ManageDatabase"
            android:exported="false" />
        <activity
            android:name=".settings.ChangePrefix"
            android:exported="false" />
        <activity
            android:name=".add.calculator.Calculator"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".view.chart.Chart"
            android:exported="false" />
        <activity
            android:name=".view.ViewData"
            android:exported="false" />
        <activity
            android:name=".add.Add"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".StartPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codersanx.splitcost.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>